@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf') format('truetype')
}

*
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    
    
}

body
{
    margin: 0 150px;
}
a
{
    color: inherit;
    text-decoration: none;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
   
}

#logo
{
    margin-right: auto;
    padding: 0 32px;
}

nav a
{
    padding: 32px ;
    border-top: 3px solid transparent;
}

nav a:hover
{
    color: #0065FC;
    border-top:  3px solid #0065FC; 
}
.categories
{
    display: flex;
    
}
@media screen and (max-width: 768px)
{
    #logo
    {
        margin: auto;
        
    }
    .categories
    {
        flex-basis: 100%;
    }    
    .categories a
    {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgray;
    }
    .categories a:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top-color: transparent;
    }
}

.search
{
    padding: 0 16px;
    border: #f2f2f2;
}

.form
{
    border-color: #0065FC;
    padding: 0 16px;
    display: flex;
}
.form i
{
    padding: 16px 20px; 
    background-color: #f2f2f2;
    border-radius: 16px 0 0 16px;
}
input::placeholder
{
    font-weight: bold;
    color: inherit;
}
#sub
{
    background-color: #0065FC;
    font-weight: bold;
    color: white;
    border-radius: 0 16px 16px 0;
    border: none;
    cursor: pointer;
}
.filtreM
{
    border: 1px solid black;
    font-weight: bold;
    margin: 16px 0 0 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.filtreM i
{
    background-color:  #deebff;
    padding: 16px ;
    border-radius: 16px ;


    
}
.filtre1
{
    
    border: 2px solid #f2f2f2;
    border-radius: 32px;
    
}
.filtre2
{
    border: 2px solid #f2f2f2;
    border-radius: 32px;
    
}
.filtre3
{
    border: 2px solid #f2f2f2;
    border-radius: 32px;
}
.filtre4
{
    border: 2px solid #f2f2f2;
    border-radius: 32px;
}
.filtreM a
{
    margin: 0 20px 0 0;

}
.info
{
    
    display: flex;
    align-items: center;
}
.info i
{
    margin: 16px ;
    padding: 10px ;
    border: 1px solid lightgray; 
    border-radius: 20px;   
}
.Hébmars
{display: flex;
}
aside{
    display: flex;
}
.Actmars
{
    display: flex;
}