@font-face {
    font-family: "raleway";
    src: url("Raleway/raleway-regular-webfont.eot") format("eot"),
         url("Raleway/raleway-regular-webfont.woff2") format("woff2"),
         url("Raleway/raleway-regular-webfont.woff") format("woff"),
         url("Raleway/raleway-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "raleway-bold";
    src: url("Raleway-bold/raleway-bold-webfont.eot") format("eot"),
         url("Raleway-bold/raleway-bold-webfont.woff2") format("woff2"),
         url("Raleway-bold/raleway-bold-webfont.woff") format("woff"),
         url("Raleway-bold/raleway-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{  
    max-width: 1400px;
    margin: auto;
    font-family: "raleway",sans-serif ;
    font-size: 16px ;
}
header{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding: 20px 0 0 20px;
    width: 100px; 
    height: 70px;
}
nav{  
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: inherit;  
    cursor: pointer;
}
header a{   
    padding: 49px 35px;
    border-top: 3px solid transparent;  
}
header a:hover{
    border-top: 3px solid #0065fc;
    color: #0065fc;
}
main{
    padding: 0 25px;
}
h1{
    font-weight: bold;
    font-size:  24px ;  
}
.desc{
    margin-bottom: 10px;
}
.desc h1{
    margin: 0;
    margin-bottom: 4px;
}
.form{   
    padding: 10px 0;
    display: flex;
    width: auto;
}
.form i:first-of-type{
    padding: 25px 17px 25px 20px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 20px 0 0 20px;
} 
.dnone{
    color: transparent;
}
input{
    padding-right: 25px;
    padding-left: 20px;  
}
input::placeholder {
    color:inherit;
    font-size:16px;
    width: auto;  
}  
#search{
    border:1px solid #f2f2f2;
    font-weight: bold;
}
#sub{
    font-weight: bold;
    border-radius: 0 18px 18px 0 ;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    color: white;
    cursor: pointer;
}
#sub:hover{
    transform: scale(1.01);
    box-shadow: 0 0 12px #deebff;
    cursor: pointer;
}
.fa-magnifying-glass{
    display: none;   
}
.AllFilter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%; 
    padding: 10px;
}
.filter{
    margin:5px;
    border: 2.5px solid #f2f2f2;
    border-radius: 25px;
    display: flex;
    align-items:center ;
}
.fafiltre{ 
    margin: -3px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;    
} 
.descfilter{
    font-weight: bold;
    margin: 0 20px 0 10px;
}
.filter:hover{
    color: #0065fc;
    transform: scale(1.03);
    box-shadow: 0 0 12px #f2f2f2;
    cursor: pointer;
}
.info{
    display: flex;
    align-items: center;
    margin:20px 0 0 0;
}   
.info p{
    margin: 0 10px;
}
.icoinfo{
    height: 25px;
    width: 25px;
    min-width: 25px;
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    color: #0065fc;
}
.HébMarspop{
    display: flex;
    flex-basis:100% ;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 50px;
}
.HébMarspop i.grey{
    color: #f2f2f2;
}
.HébMarspop h2{
    margin: 40px 0 0 35px;
}
.HébMarspop i{
    color: #0065fc;
}
.hébmars a{
    display: block;
    font-weight: bold;
    padding: 10px 0 35px 35px; 
    font-size: 19px; 
}
.hébmars{
    margin-top: 30px;
    flex-basis: 60%;
    flex-grow: 1;
    background: #f2f2f2;
    border-radius: 25px; 
}
.mostpop{
    margin-top: 30px;
    flex-basis: 29%;
    background: #f2f2f2;
    border-radius: 25px;
    flex-grow: 1;   
} 

.Flexfilterhéb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.CardHéb{
    border-radius:25px;
    background: white;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 240px;
    flex-grow: 1;
    margin: 15px;
}
.CardHéb img{   
    height: 140px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    padding: 4px;   
}
.Carddesc{
    margin: 0 0 10px 15px; 
    font-size: 14px; 
    line-height: 20px;
}
.iconetitlpop{
   display: flex;
   justify-content: space-between;
}
.iconetitlpop i{
    color: black;
    margin: 45px 35px  0 0 ;
}
.allcardpop{
    padding: 38px 25px 0; 
}
.Cardpop{
    width: auto; 
    background-color: white;
    display: flex;
    padding: 4px;
    margin-bottom: 30px;
    border-radius: 25px ;
}
.Cardpop img{  
    border-radius: 25px 0 0 25px;
    height: 150px ;
    width: 180px; 
    min-width: 130px;
    object-fit: cover;    
}
.Carddescpop{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
} 
.Carddescpop .margb{
    margin-bottom: 4px;
}
.descpop{
    line-height: 20px;   
}
article h2{
    margin-bottom: 25px
}
.Allactmars{
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.Allactmars img{
    height: auto;
    width:100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;   
}
.Cardact{ 
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    flex-wrap: wrap;    
}
.Carddescact{
    border-radius: 0 0 25px 25px ;
    height: 55px;
    padding: 20px 20px; 
    font-size: 15px;  
}
.Cardpictact1and4{
    display: flex;
    height: 400px;
}
.Cardpictact2{
    display: flex;
    height:170px;
}
.Cardpictact3{
    display: flex;
    height: 120px;
}
.Cardpictact5{
    display: flex;
    height: 135px;
}
.Cardpictact6{
    display: flex;
    height: 155px;
}
.cardcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    background: #f2f2f2;
}
.allinfofooter{   
    display: flex;
    flex-basis: 100%;
    padding: 35px 0;
    flex-wrap: wrap;
}
.infofooter{
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}
.infofooter h3,a{
    margin-bottom: 15px;
}
.boxshadow{
    box-shadow: 0 0 4px #b1acac;
}
.boxshadow:hover{
    transform: scale(1.03);
    box-shadow: 0 0 12px #b1acac;
    cursor: pointer;
}
.icogrey i{
    color: #f2f2f2;
}
@media (max-width:1350px){
    
    .Cardact, .cardcolumn{
        width: 48%;
        margin-bottom: 25px;
    }
    .cardcolumn .Cardact{
        width: 100%;
        margin-bottom: 0;
    } 
}
@media (max-width: 1050px){
    .HébMarspop{
        display: flex;
        flex-direction: column-reverse;       
    }   
}
@media (max-width: 768px){
    header{
        flex-wrap: wrap;
        padding: 0;
    }
    #logo{ 
       margin: auto;
       padding: 0;    
    }    
    nav{
        flex-basis: 100%; 
        margin-bottom: 15px;
    }    
    nav a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgray;
        padding: 35px 0 15px 0;   
    }
    nav a:hover{
        border-bottom: 3px solid #0065FC;
        border-top-color: transparent;
    }
    h1{
       padding-bottom: 5px;
    }
    section{
        padding: 0 20px;
    }
    main{
       padding: 0;
    } 
    .form{
        margin-bottom: 15px;  
    }
    #sub{
       display: none;   
    }
    .dnone{
        color: white;
        display: flex;
        background-color: #0065FC;
        padding: 20px 20px ;
        border-radius: 15px;
        position: relative;
        right: 10px;
    }
    .AllFilter h3{
        width: 100%;
        margin-bottom: 10px;   
    }
    .AllFilter{
        padding: 0;
    }
    .filter{
        margin-left: 0;
    }
    .mostpop{ 
        border-radius:0 ;
        width: 100%;
    }
    .allcardpop{
        padding: 38px 20px 0;
        
    }
    .HébMarspop h2{
        margin-left: 20px;
    }
    .hébmars{
        border-radius: 0;
        background-color: white;
        width: 100%;
    }
    .hébmars a{
        margin: 0;
        padding: 0 0 0 15px;
    }
    .CardHéb{
        width: 100%;
        margin-bottom: 0;
    }
    .Flexfilterhéb{
        padding:15px 0;
    }
    article h2{
        margin-left: 15px;
    }
    .Allactmars{
        display: block;
       padding: 0 15px;
    }    
    .cardcolumn{
        gap: 15px;
    }
    .Cardact, .cardcolumn{
        width: 100%; 
        margin-bottom: 15px;
    }
    .Cardpictact1and4, .Cardpictact2, .Cardpictact3, .Cardpictact5, .Cardpictact6{
        height: 155px;
    }
    .allinfofooter{
       flex-direction: column;
       padding: 35px 0 0 0;
    }
    .infofooter{
        margin-bottom: 25px;
        padding: 0 20px;
    }   
}
@media (max-width: 375px){
    #search{
       width: 100%;
    }
    .Carddescact{
        font-size: 12px 16px;
        padding: 14px;
    }
    .Carddescpop{
        font-size: 13px;
        padding: 8px;
}
@media (max-width: 340px){
    body{
        font-size: 14px ;
       
    }
    .Carddescpop{
        font-size: 13px;
        padding: 8px;
    }
    .Cardpop img{
        min-width: 35%;
       
    }
}
